{{#view "section" class="p3"}}
    <article>
        <div class="h1">События</div>
        <div class="events">
    {{#each meetup in controller.model}}
    {{#link-to "meetups.show" meetup class="event"}}
    <img {{bind-attr src=meetup.image}}>
    <div>
        <h3>{{meetup.title}}</h3>
        <time>{{meetup.date}}</time>
        <div>{{meetup.shortDescription}}</div>
    </div>
    {{/link-to}}
    {{/each}}
        </div>
    </article>
{{/view}}