{{#view "section" class="p1"}}
  <div class="header">
    <div class="logo"></div>
    <div class="socials">
        <a class="fb" href="#"> </a>
        <a class="tv" href="https://twitter.com/KyivEmberJS"  target="_blank"></a>
        <a class="gl" href="#"></a>
    </div>
  </div>

  <article>
    <div class="h1">
      Ember.js - framework for creating
      ambitious
      web applications.
      </div>
    <div class="txt_block">
      <p> Добро пожаловать на сайт Киевского клуба Ember.js </p>
      <p> Здесь Вы сможете ознакомиться с находящимися в разработке проектами, нашей командой, и собственно узнать о предстоящих событиях клуба:
        встречах, курсах и хакатонах на которых мы будем рады Вас видеть!</p>
      <p class="center"> EMBER.JS IS FREE, OPEN SOURCE AND ALWAYS WILL BE.</p>
      </div>
    {{#link-to "events" class="down_arr"}}{{/link-to}}
  </article>
{{/view}}