{{#view "section" class="p4"}}
    <article>
        <div class="h1">
            Проекты
        </div>
        <div class="works">
            {{#each project in model}}
                <a class="work lib" {{bind-attr href=project.link}}>
                    <h3>{{project.name}}</h3>
                    <div>{{project.description}}</div>
                </a>
            {{/each}}
        </div>
    </article>
{{/view}}