{{#view "section" class="p6"}}
    <article>
        <h3 class="h1">С чего начать?</h3>
        <ul>
            {{#each resource in controller.model.intro}}
                <li class="resource">
                    <a {{bind-attr href="resource.url"}} target="_blank"> {{resource.title}}</a>
                </li>
            {{/each}}
        </ul>
    </article>
    <article>
        <h3 class="h1">Быть в курсе Ember новостей</h3>
        <ul>
            {{#each resource in controller.model.lists}}
                <li class="resource">
                    <a {{bind-attr href="resource.url"}} target="_blank"> {{resource.title}}</a>
                </li>
            {{/each}}
        </ul>
    </article>
{{/view}}