{{#view "section" class="p3"}}
    <article>
        <div class="h1">
            Спонсоры
        </div>
        <div class="users">
            <div class="users">
                <h4>
                    Пиши Ember.js opensource проекты и получай от API Hogs:
                    <br>
                    <b>
                        Наставника + 10 $/hour
                    </b>
                </h4>
                <div class="usr">
                    <div class="usr_av">
                        <img src="/assets/images/static/api-hogs_color5e.jpg" alt="">
                    </div>

                    <div>
                        <div class="usr_name">
                            <a href="http://api-hogs.io" target="_blank">
                                API Hogs
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
{{/view}}